@using LibrarySystem.DAL.Enums;
@using LibrarySystem.BL.DTOS.BorrowBookDTO;
@model IEnumerable<BorrowBookReadForUserDTO>

@{
    ViewData["Title"] = "GetAllForUser";
}

<h1>GetAllForUser</h1>
@if (TempData["Message"] != null)
{
    @*     <div class="alert alert-danger">
        <p>@TempData["Message"]</p>
    </div>
 *@
    <script type="text/javascript">
        window.onload = function () {
            alert('@TempData["Message"]');
        };
    </script>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowStatus)
            </th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.BookTitle)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowStatus)
            </td>
            <td>
                @if(item.BorrowStatus==BorrowStatus.Borrowing){
                        @Html.ActionLink("Return", "ReturnBorrowingBook", new {  borrowid=item.BorrowID , bookid=item.Book.BookID }, htmlAttributes: new { @class = "btn btn-primary", @role="button" })
                    }
            </td>
        </tr>
}
    </tbody>
</table>
